li a {
    color: green;
}

ul li {
    color: red;
    list-style-type: none;
    /*line-height: 250%;*/
    line-height: 30px;
}

body {
    background: white url("../images/background.gif");
}

div {
    text-align: center;
    /*display: flex;*/
}

h1 {
    color: white;
}

p {
    color: red;
}

label {
    color: white;
}