[[source]]
name = "pypi"
url = "https://mirrors.cloud.tencent.com/pypi/simple/"
verify_ssl = true

[dev-packages]
fabric = "*"

[packages]
asgiref = "*"
django = "*"
gunicorn = "*"
markdown = "*"
public = "*"
pytz = "*"
query-string = "*"
sqlparse = "*"
get = "*"
post = "*"
request = "*"
django-environ = "*"
mysqlclient = "*"

[requires]
python_version = "3.7"
