[[source]]
name = "pypi"
url = "https://mirrors.cloud.tencent.com/pypi/simple/"
verify_ssl = true

[dev-packages]
fabric = "*"

[packages]
asgiref = "*"
django = "*"
gunicorn = "*"
markdown = "*"
public = "*"
pytz = "*"
query-string = "*"
sqlparse = "*"
get = "*"
post = "*"
request = "*"
django-environ = "*"
markupsafe = "==1.1.1"
pymysql = "*"
mysqlclient = "*"
faker = "*"
django-pure-pagination = "*"
django-haystack = "*"
elasticsearch = ">=2,<3"
six = "*"

[requires]
python_version = "3.6"
